.alert-container {
  width: 1601px;
  height: 140px;
  top: 676px;
  background: #473BF0;
  left: 0;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  position: relative;
  top: unset; 
}

/* Stat Boxes */
.stat-box {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 320px;
  text-align: left;
  flex: 1 1 0;
}

.stat-box h2 {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.8px;
}

.stat-box p {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  white-space: normal;
  opacity: 0.8;
}

/* Mobile-Specific Styles */
@media screen and  (max-width: 992px){
  .alert-container {
    width: 100%;
    height: auto;
    left: auto;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 1rem;
  }

  .stat-box {
    max-width: 100%;
    gap: 8px;
  }

  .stat-box h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .stat-box p {
    font-size: 14px;
    line-height: 24px;
    white-space: normal;
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .alert-container {
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    align-items: flex-start; /*  align to the left */
  }

  .stat-box {
    max-width: 100%;
    gap: 8px;
    /*align-items: flex-start; /* align content inside to the top left */
    text-align: left;         /*  ensure text is also left-aligned */
  }

  .stat-box h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
  }

  .stat-box p {
    font-size: 14px;
    line-height: 24px;
    text-align:left;
  }
}