/* Background Selector */
.background-selector {
    margin-left: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 5rem 13rem;
  }
  
  .bg-button {
    width: 32px;
    height: 6px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s;
    opacity: 0.8;
  }
  
  .bg-button.active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
  
  /* Mobile-Specific Styles */
  @media screen and (max-width: 768px) {
    .background-selector {
      margin: 0;
      width: 20%;
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      padding:16px
    }
  }
  @media screen and (max-width: 480px) {
    .background-selector {
      width: 40%;
    }
  }
