  /* Social Icons */
  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items:center;
    margin-left: 20rem;
  }

  /* Row (default)
  .social-row {
    flex-direction: row ! important;
    position: absolute;
    top: -1px ! important;
    left: -250px ! important;
    margin-right: 60px;
  } */

  .social-link {
    color: #101010;
    font-size: 1.24rem;
    width: 40PX;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  .social-link:hover {
    color: #ddd;
  }

  /* Mobile-Specific Styles */
  @media screen and (max-width:768px) {
    .social-icons {
    flex-direction: column;
    margin: 1rem;
    }

    .social-link {
      flex-direction: column;
      font-size: 3rem;
    }

    .social-link svg {
      font-size: 2rem;
    }
  }