.alert-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; /* spacing between items */
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 1600px;
  min-height: 140px; /* allow vertical flexibility */
  margin: 0 auto;
  background: #473BF0;
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  padding: 0 2rem;
  box-sizing: border-box;
}


.alert-item {
  text-align: center;
  
}

.alert-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.8px;
  margin-bottom: 0.25rem;
}

.alert-description {
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  opacity: 0.7;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .alert-container {
    max-width: 768px;
    height: auto;
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  .alert-title {
    font-size: 30px;
    line-height: 40px;
  }

  .alert-description {
    font-size: 14px;
    line-height: 22px;
  }
}
