.process-section {
  padding: 80px 20px;
  background-color: white;
  text-align: center;
}

.process-section-header {
  display: flex;
  flex-direction: column; 
  align-items: baseline;
  gap: 10%;
  margin-bottom: 48px;
}

.process-heading {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 1px;
  color: #101010;
  margin-bottom: 16px;
  text-align: left;
}

.process-subheading {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #757B8A;
  margin-bottom: 40px;
  max-width: 600px;
  text-align: justify;
}

.process-steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.process-step {
  position: relative;
  width: 269px;
  height: 255px;
  background: #F0F0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-inner-circle {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  color: #101010;
  font-weight: 500;
  margin-bottom: 10px;
}

.step-description {
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #000;
}
@media (min-width: 768px) {
  .process-section-header  {
  display: flex;
  flex-direction: row; 
  align-items: baseline;
  gap: 10%;
  margin-bottom: 48px;
}
.process-steps {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.process-step {
  position: relative;
  width: 311px;
  height: 299px;
}
.step-inner-circle {
  width: 253px;
  height: 253px;
}
}
/* Desktop only (≥1024px) */
/* @media (min-width: 1024px) {
  .process-section-header {
    flex-direction: row;
    align-items: baseline;
    gap: 10%;
  }
} */
